<ng-container *ngIf="listing">
  <img class="logo"
       src="../../../../assets/images/{{listing.logo}}"
       alt="{{listing.company}} logo">
  <p class="company-and-highlights">
    {{listing.company}}
    <app-highlight-pill class="new"
                        *ngIf="listing.new">NEW!</app-highlight-pill>
    <app-highlight-pill class="featured"
                        *ngIf="listing.featured">FEATURED</app-highlight-pill>
  </p>
  <p class="positionName">{{listing.position}}</p>
  <p class="extraInfo">
    {{listing.postedAt}}<span>&#8226;</span>{{listing.contract}}<span>&#8226;</span>{{listing.location}}</p>
  <hr>
  <div class="filter-tablets">
    <app-filter-tablet [category]="'role'"
                       [value]='listing.role'>{{listing.role}}</app-filter-tablet>
    <app-filter-tablet [category]="'level'"
                       [value]='listing.level'>{{listing.level}}</app-filter-tablet>
    <app-filter-tablet *ngFor="let tool of listing.tools"
                       [category]="'tools'"
                       [value]='tool'>{{tool}}</app-filter-tablet>
    <app-filter-tablet *ngFor="let language of listing.languages"
                       [category]="'languages'"
                       [value]='language'>{{language}}</app-filter-tablet>
  </div>
</ng-container>
