:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px 20px 20px;

  border-left: 5px solid var(--job-listing-border-color);
  border-radius: 5px;
  background-color: var(--job-listing-bg-color);
}

img.logo {
  position: absolute;
  top: 0;
  width: 16%;
  transform: translateY(-50%);
}

p {
  margin-bottom: 15px;
}

p.company-and-highlights {
  display: flex;
  align-items: center;

  color: var(--job-listing-text-color-primary);
  font-size: 1.3rem;
  font-weight: 700;

  app-highlight-pill {
    color: var(--highlight-pill-text-color);
    font-size: 1.1rem;
    margin-left: 8px;
  }

  app-highlight-pill:first-child {
    margin-left: 16px;
  }

  app-highlight-pill.new {
    background-color: var(--highlight-pill-new-bg-color);
  }

  app-highlight-pill.featured {
    background-color: var(--highlight-pill-featured-bg-color);
  }
}

p.positionName {
  font-weight: 700;
}

p.extraInfo {
  display: flex;
  gap: 7px;
  margin-bottom: 20px;

  color: var(--job-listing-text-color-tertiary);
  font-size: 13px;
}

hr {
  border: none;
  background-color: var(--job-listing-text-color-tertiary);
  height: 1px;
}

.filter-tablets {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 15px;

  app-filter-tablet {
    font-size: 1.3rem;
    font-weight: 700;
  }
}
