// :host targets the host component, in this case, <app-layout>.
// These styles can be overridden from parent targeting host
:host {
  display: block;
  width: 100%;
  height: 100%;
}

app-header {
  height: 156px;
}

main {
  width: 100%;

  background-color: var(--main-bg-color);
}
