@font-face {
  font-family: Spartan;
  src: url('./assets/fonts/Spartan-Bold.woff2') format('woff2');
  src: url('./assets/fonts/Spartan-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: Spartan;
  src: url('./assets/fonts/Spartan-Medium.woff2') format('woff2');
  src: url('./assets/fonts/Spartan-Medium.woff') format('woff');
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;

  font-family: Spartan, sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  // Set body font-size back to usual default
  font-size: 15px
}

////////////////////////////////////////////////////////////////////////

// theme
html {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-bg: hsl(180, 52%, 96%);
  --light-grayish-cyan-ft: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);

  --header-bg-color: var(--desaturated-dark-cyan);
  --main-bg-color: var(--light-grayish-cyan-bg);
  --job-listing-bg-color: white;
  --job-listing-border-color: var(--desaturated-dark-cyan);
  --job-listing-text-color-primary: var(--desaturated-dark-cyan);
  --job-listing-text-color-secondary: black;
  --job-listing-text-color-tertiary: hsl(192, 3%, 69%);
  --highlight-pill-text-color: white;
  --highlight-pill-new-bg-color: var(--desaturated-dark-cyan);
  --highlight-pill-featured-bg-color: black;
  --filter-tablet-bg-color: var(--light-grayish-cyan-ft);
  --filter-tablet-text-color: var(--desaturated-dark-cyan);
}
