<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<button *ngIf="mode === 'add'"
        class="add"
        type="button"
        aria-label="Apply">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<div *ngIf="mode === 'remove'"
     class="remove">
  <ng-container *ngTemplateOutlet="content"></ng-container>
  <button type="button"
          aria-label="Remove">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="14"
         height="14">
      <path fill="#FFF"
            fill-rule="evenodd"
            d="M11.314 0l2.121 2.121-4.596 4.596 4.596 4.597-2.121 2.121-4.597-4.596-4.596 4.596L0 11.314l4.596-4.597L0 2.121 2.121 0l4.596 4.596L11.314 0z" />
    </svg>
  </button>
</div>
