:host {
  display: block;
  border-radius: 5px;

  background-color: var(--filter-tablet-bg-color);
}

button {
  display: inline;
  padding: 10px;
  border: none;

  background-color: transparent;
  color: var(--filter-tablet-text-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
